# IDE folders
.vscode/
.idea/

best_model.pth
*.pth

# Node
node_modules/

# Python
venv/
__pycache__/
*.pyc

# ML Models
*.pth

# Dataset
Dataset/
datasets/

# Build folders
build/
dist/

# Environment files
.env

# To stop incidnets uploading on git
incidents/
uploads/
*.avi
*.mp4
*.jpg
*.png