#Server
PORT=5000

#MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/violence_detection

#JWT
JWT_SECRET=your_super_secret_jwt_key

#Resend (Email)
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxx
EMAIL_FROM=alerts@yourdomain.com
EMAIL_TO=admin@yourdomain.com

#Twilio (SMS)
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_FROM=+1234567890
TWILIO_TO=+92300XXXXXXX

#Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=your_api_secret

#Frontend URL (for email links)
FRONTEND_URL=http://localhost:3000
